*{
    background-color: azure;
}


*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: cadetblue;
    /* background-image: url(http://clipart-library.com/image_gallery/215613.png); */
}
.ScoreBoard{
    max-width: 55em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 15em;
    padding-top: 2em;
}
.theme-img{
    width: 20em;
    border-radius: 10px;
}
.description{
    display: inline-block;
    text-align: center;
    margin: 1em;
    color: white;
    transform: translate(-5em);
}
#myInput{
    border-radius: 3px;
    border: none;
    background-color: transparent;
    border-bottom: rgb(141, 249, 152) 2px solid;
    padding: .5em;
    font-size: 1em;
    color: white;
}
.search:focus{
    outline: none
}
table{
    margin-top: 2em;
    width: 50em;
    color: white;
    margin-right: auto;
    margin-left: auto;
}
th{
    cursor: pointer;
}
table thead{
    opacity: .8;
}

table td{
    max-width: 2em;
    padding: .5em;
    text-align: center;
}
tbody tr{
     box-shadow: 0 2px rgba(100,100,100,.5);
     border-radius: 8px;
}
tbody tr:hover{
    transform: scale(1.025);
    transition: .2s ease-in-out;
}
table td:nth-child(2) p{
    display: inline-block;
    transform: translateY(-.5em);
    padding-left: .5em;
    text-align: left;
}
table td:nth-child(2){
    max-width: 5em;
}
tbody tr:nth-child(even){
    background-color: rgb(41, 1, 41);
}
#Rank1{
    color: gold;
    font-weight: 800;
}
#Rank2{
    color: rgb(66, 65, 65);
    font-weight: 800;
}
#Rank3{
    color: #e4882d;
    font-weight: 800;
}
#Rank4{
    color: white;
    font-weight: 800;
}
#Rank5{
    color: white;
    font-weight: 800;
}
@media(max-widh:860px){
    .ScoreBoard{
        padding: 0;
    }
    .description{
        display: block;
        transform: translateY(0);
    }
    table{
        max-width: 100vw;
        overflow-x: scroll;
    }
}
.container{
     --lg-lightcolor:linear-gradient(to left,rgba(116,235,213,0.6),rgba(136, 156, 244, 0));
    --lg-color:linear-gradient(to left, #d9caeb, #9face6);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    max-width: 100%;
    overflow: hidden;
}
.header{
    background: var(--lg-color);
    padding: 30px 0;
}
.header h2{
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
.form.btn:hover{
    background: white;
}
.form{
    margin: 170px;
    color: white;
    margin-left: 500px;
    padding: auto;
}
@media(max-width:998px){
    .container{
        width: calc(100vw - 35vw);
        max-width: 100%;
    }
}
